.loader {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid blue;
    border-top: 5px solid black;
    animation: spinAnimate 3s ease-in 1s infinite normal;
}


@keyframes spinAnimate {
    from {
        transform : rotate(0deg);
    }
    to{
        transform : rotate(360deg);
    }
}